/****************
 * stuff to hide
 ****************/
form#simplechat-form div.grippie{
	display: none;
}

form#simplechat-form textarea#edit-simplechat-messages{
	height: 200px;
}

ul.present-users{
	margin: 0px;
	padding: 0px;
}

ul.present-users li{
	list-style: none;
}

ul.present-users li a{
	float: left;
	min-width: 250px;
}

ul.present-users.ajax li a{
	float: none;
}
